1 - Análise Exploratória dos Dados

Importando as bibliotecas necessárias:

In [1]:
from pathlib import Path 
import pandas as pd
import numpy as np 

import matplotlib.pyplot as plt
import seaborn as sns

Carregando os dados:

In [ ]:
# diretório base do case
base_dir = Path.cwd()

# caminho para a pasta contendo os dados 
data_dir = base_dir.parent / "data"

#caminho para o dataset 
df_path = data_dir / "dataset_2021-5-26-10-14.csv"

# carregar dataset 
df = pd.read_csv(df_path, sep="\t", encoding="utf-8")

df.head()

,default_3months,ioi_36months,ioi_3months,valor_por_vencer,valor_vencido,valor_quitado,quant_protestos,valor_protestos,quant_acao_judicial,acao_judicial_valor,...,dividas_vencidas_qtd,falencia_concordata_qtd,tipo_sociedade,opcao_tributaria,atividade_principal,forma_pagamento,valor_total_pedido,month,year,default
0,0,58.000000,18.236092,0.00,0.0,242100.70,0,0.0,0,0.0,...,0,0,empresario (individual),simples nacional,papelaria,30/60/90,34665.674938,6,2019,0
1,1,16.052632,7.500000,224132.85,0.0,4960846.21,0,0.0,0,0.0,...,0,0,sociedade empresaria limitada,missing,com de equipamentos de informatica,30/60/90,7134.489373,10,2018,0
2,0,13.250000,3.904762,513043.83,0.0,158631.93,1,1800.0,0,0.0,...,0,0,sociedade empresaria limitada,simples nacional,servicos de vigilancia e guarda,missing,72653.621143,4,2018,0
3,0,136.925000,10.144219,23273.64,0.0,669644.16,0,0.0,0,0.0,...,0,0,empresario (individual),simples nacional,com de equipamentos de informatica,missing,14576.805783,4,2017,1
4,0,140.333333,17.651678,0.00,0.0,2010.56,0,0.0,0,0.0,...,0,0,sociedade empresaria limitada,simples nacional,com de compon eletron e pecas para eletrod,30/60/90,2655.505663,10,2017,0

Entendendo a Estrutura do Dataset

In [30]:
print(f"O dataset contém {df.shape[0]} linhas e {df.shape[1]} colunas")

# análise do tipo dos dados
df.info()

O dataset contém 117273 linhas e 22 colunas
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 117273 entries, 0 to 117272
Data columns (total 22 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   default_3months              117273 non-null  int64
 1   ioi_36months                 117273 non-null  float64
 2   ioi_3months                  117273 non-null  float64
 3   valor_por_vencer             117273 non-null  float64
 4   valor_vencido                117273 non-null  float64
 5   valor_quitado                117273 non-null  float64
 6   quant_protestos              117273 non-null  int64
 7   valor_protestos              117273 non-null  float64
 8   quant_acao_judicial          117273 non-null  int64
 9   acao_judicial_valor          117273 non-null  float64
 10  participacao_falencia_valor  117273 non-null  float64
 11  dividas_vencidas_valor       117273 non-null  float64
 12  dividas_vencidas_qtd         117273 non-null  int64
 13  falencia_concordata_qtd      117273 non-null  int64
 14  tipo_sociedade               116665 non-null  object
 15  opcao_tributaria             98948 non-null   object
 16  atividade_principal          116681 non-null  object
 17  forma_pagamento              84796 non-null   object
 18  valor_total_pedido           117273 non-null  float64
 19  month                        117273 non-null  int64
 20  year                         117273 non-null  int64
 21  default                      117273 non-null  int64
dtypes: float64(10), int64(8), object(4)
memory usage: 19.7+ MB

Tratando valores faltantes/nulos

In [33]:
# verificação de valores nulos/faltantes
(df == "missing").sum()

default_3months                0
ioi_36months                   0
ioi_3months                    0
valor_por_vencer               0
valor_vencido                  0
valor_quitado                  0
quant_protestos                0
valor_protestos                0
quant_acao_judicial            0
acao_judicial_valor            0
participacao_falencia_valor    0
dividas_vencidas_valor         0
dividas_vencidas_qtd           0
falencia_concordata_qtd        0
tipo_sociedade                 0
opcao_tributaria               0
atividade_principal            0
forma_pagamento                0
valor_total_pedido             0
month                          0
year                           0
default                        0
dtype: int64

In [28]:
# Conversão de "missing" para NaN 
df.replace("missing", np.nan, inplace=True)
(df == "missing").sum()

default_3months                0
ioi_36months                   0
ioi_3months                    0
valor_por_vencer               0
valor_vencido                  0
valor_quitado                  0
quant_protestos                0
valor_protestos                0
quant_acao_judicial            0
acao_judicial_valor            0
participacao_falencia_valor    0
dividas_vencidas_valor         0
dividas_vencidas_qtd           0
falencia_concordata_qtd        0
tipo_sociedade                 0
opcao_tributaria               0
atividade_principal            0
forma_pagamento                0
valor_total_pedido             0
month                          0
year                           0
default                        0
dtype: int64

In [32]:
# Contar NaNs por coluna
missing_counts = df.isna().sum()
print(missing_counts)

default_3months                    0
ioi_36months                       0
ioi_3months                        0
valor_por_vencer                   0
valor_vencido                      0
valor_quitado                      0
quant_protestos                    0
valor_protestos                    0
quant_acao_judicial                0
acao_judicial_valor                0
participacao_falencia_valor        0
dividas_vencidas_valor             0
dividas_vencidas_qtd               0
falencia_concordata_qtd            0
tipo_sociedade                   608
opcao_tributaria               18325
atividade_principal              592
forma_pagamento                32477
valor_total_pedido                 0
month                              0
year                               0
default                            0
dtype: int64